<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.WIT.user.mapper.UserMapper">

    <update id="updateUserWithPassword">
        UPDATE users
        SET username = #{name},
        email = #{email},
        password = #{password}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserWithoutPassword">
        UPDATE users
        SET username = #{name},
        email = #{email}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteById">
        DELETE FROM users WHERE user_id = #{userId}
    </delete>
</mapper>
